$cor-fundo: #f5f5f5;
$cor-container: #ffffff;
$cor-borda: #ccc;
$cor-texto: rgb(133, 131, 131);
$cor-primaria: #007bff;
$borda-radius: 8px; 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: $cor-fundo;
}

.container {
  display: flex;
  min-height: 100vh;
}

.barra-comandos {
  width: 300px;
  background-color: #eaeaea;
  padding: 20px;
  border-right: 1px solid $cor-borda;
  display: flex;
  flex-direction: column;
  gap: 20px;

  h1, h2, h4 {
    color: $cor-texto;
    text-align: center;
  }

  label {
    font-size: 14px;
    font-weight: 600;
    display: block;
    margin-bottom: 15px;
  }

 .grupo-controle {
  padding: 10px;
  display: flex;
  flex-direction: column;
  
  label {
    font-size: 14px;
    font-weight: 600;  
    margin-bottom: 5px; 
  }

  .controle {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;

    select,
    input[type="number"] {
      padding: 8px 12px;  
      border: 1px solid $cor-borda;
      border-radius: 4px;
      font-size: 14px; 
    }
  }
}

.formatos {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 10px;
  }
  
  .formato {
    width: 30px;
    height: 30px;
    background-color: $cor-primaria;
    border: 2px solid transparent;
    cursor: pointer;
    transition: 0.3s;
  
    &.circulo {
      border-radius: 50%;
    }
  
    &.selecionado {
      border: 2px solid black; 
    }
    
  }

  .cores {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-items: center;
    margin-top: 10px;

    .cor {
      width: 30px;
      height: 30px;
      border-radius: 4px;
      border: 2px solid transparent;
      cursor: pointer;
      transition: 0.3s;

      &.selecionado {
        border: 2px solid black;
      }
    }
  }
}

.area-visualizacao {
    display: flex;
    flex-direction: column; /* Garante que os itens na área de visualização fiquem empilhados verticalmente */
    justify-content: flex-start; /* Alinha o conteúdo da área de visualização ao topo */
    padding: 30px; /* Adiciona espaçamento interno */
    overflow: auto; /* Garante que o conteúdo não ultrapasse a área */
    margin-top: 10px; /* Ajusta a margem superior para alinhar com o painel de controle */
    width: 60%; 
    height: 100%;
}

.flex-container {
  display: flex;
  background-color: $cor-container;
  padding: 15px;
  border-radius: $borda-radius;
  width: 45%;
  max-width: 500px;
  min-height: 200px;
  margin-top: 20px;
  justify-content: top; 
}

.flex-item {
  background-color: $cor-primaria;
  color: white;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border-radius: 4px;
  font-weight: bold;
  transition: all 0.3s ease;
  border: 2px solid transparent;
}
